[Unit]
Description=Anarchy Pulse Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=45876"
# Port number can be overridden in anarchy-pulse-agent.conf if needed
EnvironmentFile=/etc/anarchy-pulse-agent.conf
ExecStart=/usr/bin/anarchy-pulse-agent
User=anarchy-pulse
Restart=on-failure
StateDirectory=anarchy-pulse-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
